/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

.navbar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    z-index:200;
}

.col-12 {
    margin-top: 100px;
    flex: 0 0 auto;
    width: 40%;
    background-color: gray;
    padding: 10px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff0;
    background-clip: border-box;
    border: 2px solid rgb(39 189 169);
    border-radius: 0rem;
}


hr {
    margin: 1rem 0;
    color: blue;
    background-color: currentColor;
    border: 0;
    opacity: 1;
}

/* experimento 1

.col-md-4 {
    flex: 0 0 auto;
    width: 100%;
}

#home-banner {
    background-image: url('/voragine/objects/demo_001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 10%;
}

.h5,  h5 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 100px!important;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    font-size: 40px!important;
}

#imageCarousel .carousel-item {
    width: 100%;
}



.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white!important;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 0rem!important;
    margin-top: 2px;
}

.card-img, .card-img-top {
     border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(0,63,126,75) !important;
}


.text-center {
    text-align: left!important;
    line-height: 1;
}


.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
    text-transform: uppercase;
 
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
 fin experimento 1 */





